{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <style>

    div.container{
font-size:25px;}
    div.friend2field{
      font-weight: bold;
      display: grid;
      grid-template-columns: 1fr 3fr;
    }
    body{

    background-image: url("{% static '/2.jpg' %}"); 
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
       
      }

      
          .btn{
            float:right;
            font-weight: bold;
            border: 5px solid #555555;
      
      
      
          }

    .btn{
      float:right;
      font-weight: bold;
      border: 5px solid #555555;



    }


    </style>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Diet Recommendation</title>
  </head>
  <body>
<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar  w3-card w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="home" class="w3-bar-item w3-button w3-padding-large w3-white">Home</a>
    <a href="prevpred" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Previous Prediction</a>
    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Prediction</a>
    
    <a href="about" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">About Us</a>
    <a href="about_developer" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">About Developer</a>
    <a href="myprofile" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">MyProfile</a>
    <a href="logout" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Logout</a>
    
  </div>

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 1</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 2</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 3</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 4</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 5</a>
  </div>
</div>



<div style="padding-top:60px" class="alert alert-primary alert-dismissible fade show" role="alert">
  <strong>Meet our amazing team!</strong> Contact us if you have any queries !!!
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">×</span>
  </button>
</div>



<div class="container">
<div class="card">

    <div class="card-body">
        <b><h1>Prediction</h1></b>
        <span title="Body Mass Index"><p><u><strong>BMI:</strong> </u>{{ bmi }}</p></span>
        <p><u><strong>Daily Calorie Needs: </strong></u>{{ calories_need }}</p>
      <span title="Basal Metabolic Rate">  <p><u><strong>BMR:</strong></u> {{ bmr }}</p></span>	
<p> <u><strong>Breakfast:</strong> </u>Fenugreek Seed,Tea(90 cal)</p>
<p><u> <strong>Fruits:</strong></u> {{random_element}}</p>
<p> <u><strong>Lunch:</strong></u> Dal (70 cal),2 Chapatti(200 cal),Salad(100 cal)</p>
<p><u><strong>Recommended :</strong> </u>
 {% for item in payload %}
           {{ item.menu }}
          ( {{ item.cal }} cal),
        {% endfor %}</p>
<p><u><strong> Evening Snacks:</strong></u> {{random_element1}}</p>
<p> <u><strong>Dinner:</strong> </u>Dal (70 cal),2 Chapatti(200 cal),Salad(100 cal)</p>
<p><u><strong>Recommended Food:</strong></u>
 {% for item in lst %}
           {{ item.menu }}
          ( {{ item.cal }} cal),
        {% endfor %}</p></p>



    </div>
</div>
</div>
     
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </body>
</html> 